@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	line-height: 1;
}

.wrap-container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.center-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.between-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.around-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.center-stretch {
	display: flex;
	align-items: stretch;
}

.column-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.center-right {
	display: flex;
	justify-content: flex-end;

}

.container {
	height: 100%;
}

[class*="col"] {
	padding: 0;
}

[class*="indent-left col"] {
	padding-left: 1.071em;
}

[class*="indent-right col"] {
	padding-right: 1.071em;
}

ul li {
	list-style: none;
}

ul {
	margin: 0;
}

.no-padding {
	padding-left: 0;
	padding-right: 0;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
}

a {
	text-decoration: none;
}
